---
import Layout from "@/layouts/Layout.astro";
import "@/styles/global.css";
import '@fontsource-variable/space-grotesk/wght.css';
import '@fontsource-variable/inter/wght.css';

import Hero from "@/components/Hero.astro";
import Work from "@/components/Work.astro";
import Events from "@/components/Events.astro";
import Logo from "@/components/Logo.astro";
---

<Layout>
    <main>
        <Logo />
        <Hero />
        <Work />
        <Events />
    </main>
</Layout>

