---
import Layout from "@/layouts/Layout.astro";
import "@/styles/global.css";
// Supports weights 200-900
import '@fontsource-variable/unbounded/wght.css';
import Hero from "@/components/Hero.astro";
import Work from "@/components/Work.astro";
import Events from "@/components/Events.astro";
---

<Layout>
    <main>
        <Hero />
        <Work />
        <Events />
    </main>
</Layout>

