---
import Section from "@/layouts/Section.astro";
import ContactLink from "@/components/contact/ContactLink.astro";

const contacts = [
    {
        label: "Email",
        display: "hola@iamliodj.es",
        href: "mailto:hola@iamliodj.es",
        position: "top",
    },
    {
        label: "Instagram",
        display: "@iamliodj",
        href: "https://www.instagram.com/iamliodj/",
        position: "middle",
    },
] satisfies {
    label: string;
    display: string;
    href: string;
    position: "top" | "middle" | "bottom";
}[];
---

<Section>
    <div
        class="grid grid-cols-1 md:grid-cols-2 items-start my-13 md:my-22 mx-auto max-w-10xl px-4 md:px-10 gap-12"
    >
        <div class="uppercase">
            <h1 class="flex flex-col gap-4 text-4xl md:text-5xl lg:text-6xl">
                <span class="text-white">Hola,</span>
                <span class="text-gray-400">Hablamos?</span>
            </h1>
        </div>

        <div class="flex flex-col text-white gap-10">
            <h2 class="text-xl md:text-2xl">Cuéntame qué tienes en mente</h2>
            <p class="text-base text-gray-400 max-w-xl">
                Los mejores eventos empiezan con una conversación. Estoy aquí
                para ayudarte a crear una experiencia musical inolvidable.
                ¡Hablemos y hagamos que tu evento sea único!
            </p>

            <address class="not-italic flex flex-col gap-4">
                {contacts.map((contact) => <ContactLink {...contact} />)}
            </address>
        </div>
    </div>
</Section>
