---
import Section from "@/layouts/Section.astro";
---

<Section>
    <div
        class="grid grid-cols-1 md:grid-cols-2 items-start mt-26 mx-auto max-w-10xl px-4 md:px-10 gap-12"
    >
        <div class="uppercase">
            <h1 class="flex flex-col gap-4 text-3xl md:text-5xl lg:text-6xl">
                <span class="text-white">la pista</span>
                <span class="text-gray-400">manda</span>
            </h1>
        </div>

        <div class="flex flex-col text-white gap-10">
            <h2 class="text-xl md:text-2xl">
                Eventos que hablan por sí solos.
            </h2>
        </div>
    </div>
    <div class="w-full">
        <section
            id="image-carousel"
            class="splide"
            aria-label="Beautiful Images"
        >
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <img
                            src="https://picsum.photos/seed/picsum/200/300.webp"
                            alt=""
                        />
                    </li>
                    <li class="splide__slide">
                        <img
                            src="https://picsum.photos/seed/picsum/200/300.webp"
                            alt=""
                        />
                    </li>
                    <li class="splide__slide">
                        <img
                            src="https://picsum.photos/seed/picsum/200/300.webp"
                            alt=""
                        />
                    </li>
                    <li class="splide__slide">
                        <img
                            src="https://picsum.photos/seed/picsum/200/300.webp"
                            alt=""
                        />
                    </li>
                    <li class="splide__slide">
                        <img
                            src="https://picsum.photos/seed/picsum/200/300.webp"
                            alt=""
                        />
                    </li>
                </ul>
            </div>
        </section>
    </div>
</Section>

<script>
    import { initSplide } from "@/types/initSplide";
    import { openModal, closeModal } from "@/types/openModal";

    initSplide();

    const modal = document.getElementById("image-modal");
    if (modal) {
        modal.addEventListener("click", () => closeModal());
    }
</script>

<style>
    .splide {
        margin: 0 auto;
        max-width: 800px;
    }

    :global(.splide__pagination) {
        display: none;
    }
    :global(.splide__slide img) {
        height: 350px;
        object-fit: cover;
        width: 100%;
    }
</style>
