---
import Music from "@/icons/Music.astro";
---

<div class="hidden lg:absolute lg:bottom-0 lg:grid lg:grid-cols-4 text-gray-400 lg:py-10 lg:text-center xl:gap-14 lg:justify-around">
    <div class="flex flex-row gap-2"><Music /> Musica a tu medida</div>
    <div>Experiencia y Profesionalismo</div>
    <div>Eventos de empresa</div>
    <div>Desde 2012 conectando</div>
</div>
