<div class="hidden lg:absolute lg:bottom-0 lg:grid lg:grid-cols-4 lg:w-9/10 text-gray-400 lg:py-10 lg:text-center lg:gap-14 lg:justify-around">
    <div>Musica a tu medida</div>
    <div>Experiencia y Profesionalismo</div>
    <div>Eventos de empresa</div>
    <div>Desde 2012 conectando</div>
</div>
