---
interface Props {
    title: string[];
    subtitle: string;
    paragraphs: string[];
}

const { title, subtitle, paragraphs } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 items-start mt-26 mx-auto max-w-10xl px-4 md:px-10 gap-12">
    <div class="uppercase">
        <h1 class="flex flex-col gap-4 text-3xl md:text-5xl lg:text-6xl">
            {title.map((line, i) => (
                <span class={i === 0 ? "text-white" : "text-gray-400"}>
                    {line}
                </span>
            ))}
        </h1>
    </div>

    <div class="flex flex-col text-white gap-10">
        <h2 class="text-xl md:text-2xl">{subtitle}</h2>
        {paragraphs.map((text) => (
            <p class="text-base text-gray-400 max-w-xl leading-relaxed" set:html={text} />
        ))}
    </div>
</div>